* {
  margin: 0;
  padding: 0;
}

#container {
  width: 900px;
  height: 600px;
  margin: 2rem auto;
  background-color: #406343;
  text-align: center;
  background-image: url('mov_bbb.mp4');
}

#box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#btn-container, #color-btn-container, #playlist-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#box h1 {
  color: #F3EFCC;
  font-size: 5rem;
}

.btn {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ECE7B4;
  color: #32502E;
  font-size: 30px;
  text-align: center;
  line-height: 100px;
  margin: 1rem 2rem;
}

.vid-btn {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ECE7B4;
  color: #32502E;
  font-size: 30px;
  text-align: center;
  line-height: 100px;
  margin: 1rem 2rem;

  transition: all 0.7s;
}

.vid-btn:hover {
  box-shadow: -5px 2px 10px gray;
}